<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bartender recipes</title>
    <meta name="description" content="This is a website where you can learn new recipes of drink">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./assets/styles/main.min.css" async>
    <link rel="stylesheet" href="./assets/fonts/stylesheet.css" async>
  </head>
  <body>
    <main class="site-main" id="mainContent">
      <div class="header">
        <nav class="navbar">
          <h1 class="title--is-navbar">
            <a href="./index.html">Bartender recipes<i class="icon--is-navbar fa-solid fa-martini-glass-citrus"></i>
            </a>
          </h1>
          <input id="toggle1" type="checkbox" />
          <label class="hamburger1" for="toggle1">
            <div class="top"></div>
            <div class="meat"></div>
            <div class="bottom"></div>
          </label>
          <ul class="list--is-navbar list--is-elements">
            <li><a href="./index.html" title="home">Home</a></li>
            <li><a href="./drink.html" title="list">Drink list</a></li>
            <li><a href="./credits.html" title="credits">Credits</a></li>
          </ul>
        </nav>
      </div>
      <div class="container--is-recipe" id="container">
      </div>
    </main>
    <footer class="footer">
      <div class="footer--is-content">
        <h4 class="title--is-footer title--is-centered">
          <a href="./index.html" class="icon--is-footer">
            Bartender recipes<i class="icon--is-navbar fa-solid fa-martini-glass-citrus"></i>
          </a>
        </h4>
        <p class="paragraph--is-footer">Made by: Simone Marcandalli<br>For abuse report or align the conditions on the use of data write to: <a href="mailto:simo.marca002@gmail.com">simo.marca002@gmail.com</a></p>
        <div class="footer--is-icons">
          <a href="https://www.instagram.com/marcandalli.simone/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
          <a href="https://twitter.com/SimoneMarcanda1"><i class="fa-brands fa-twitter fa-2xl"></i></a>
          <a href="https://www.facebook.com/simone.marcandalli.1"><i class="fa-brands fa-facebook fa-2xl"></i></a>
          <a href="https://t.me/marca92"><i class="fa-brands fa-telegram fa-2xl"></i></a>
          <a href="https://www.linkedin.com/in/simone-marcandalli-1439a0225/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
          <a href="https://www.youtube.com/channel/UCheiRiIj1uSx5kRvgwdoDHQ"><i class="fa-brands fa-youtube fa-2xl"></i></a>
        </div>
      </div>
    </footer>
    <script src="https://kit.fontawesome.com/22edea3724.js" crossorigin="anonymous" async ></script>
    <script type="text/javascript" src="./assets/scripts/page-drink.js" async> </script>
  </body>
</html>
